.expas_nodetype{
	cursor:pointer;
	width:200px;
	cursor:pointer;
	border: 1px solid #CCC;
	padding: 5px;
    color: #000;
}
.expas_question{
	cursor:pointer;
	width:200px;
	cursor:pointer;
	border: 1px solid #CCC;
	padding: 5px;
    color: #000;
}
.expas_value{
	width:250px;
	cursor:pointer;
	border: 1px solid #CCC;
	padding: 5px;
    color: #000;
}
fieldset .expas_value{
	background-color: gray;
}
.top{
	vertical-align:top;
	text-align:left;	
}
.solid_border{
	border: 1px solid gray;
	padding: 5px;
    color: #000;
}
.move_right{margin-left:4px}
.add{
	cursor:pointer;
	border: 1px solid black;
	padding:2px;
	background-color: white;
}
.delete{
	cursor:pointer;
	border: 1px solid #733939;
	padding:2px;
	color:#733939;
	background-color: white;
}
.expas_descr{
	color:gray;
	font-size:0.7em;
	padding:5px;
}
.block_average_ball{
    color: #666;
    border: 1px solid #666;
  /*  background:white;*/
    padding:2px;
    width: 50px;
    text-align:center;
    font-size:18px;
}
.block_average_ball_place{
    color: #000;
    padding:5px;
    font-size:20px;
}
.expas_show_value{
	font-size:14px;
	color:#222;
	font-weight:bold;
}
tr.expas_show_block {
background-color: #99ccff;
font-size:14px;
}
.expas_show_block_end {
  border: 1px solid #fefefe;
}
.expas_show_question{
	width:500px;
}
.expas_select_eval_user{
	padding:0px;
	border: 1px solid #CCC;
}
div H2 .expas_set_color_node{color:#FFCC00}
.expas-odd {
  background-color:#efefef;
}
.expas-even {
  background-color:#fefefe;
}
.expas-admin-main-link {
  padding: 20px;
} 
.expas-admin-main-link a {
  padding: 5px;
  border: 1px solid black;
  background-color: #fefefe;
  color:black;
} 
.expas-padding {
  padding:5px;
}
.expas-text-right {
  text-align:right;
  font-size:13px;
  font-weight:none;
}
.expas-end-block-questions-evaluation {
  border: 1px solid #ccc;
  background-color:#FFF;
  font-size: 11px;
}
.expas-border-hidden {
  border-style:hidden;
}
.expas-full-ball {
	font-size:14px;
	font-weight:bold;
} 
 
 